@import "tailwindcss";


html,body{
  overflow-x:hidden ;
}
body {
  font-family: 'Inter', sans-serif;
}
.font-display{
    font-family: 'Poppins', sans-serif;
  }
.text-primary{
    color: #3137f2;
}
.bg-primary{
  background-color:#3137f2;
}
h1,h2,h3{
  @apply  text-gray-800 font-semibold ; 
}
.container{
  @apply px-6 py-12 max-w-5xl mt-8 mx-auto lg:px-8 lg:mt-10;
}


.anchor-hover{
  @apply border-b border-dotted border-gray-300 hover:border-solid hover:border-gray-800;
}
