@import "tailwindcss";

/* base styles */
html, body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

.font-display{
  font-family: 'Poppins', sans-serif;
}

.text-primary{
  color: #3137f2;
}

.bg-primary{
  background-color:#3137f2;
}

/* USE APPLY ONLY HERE */
@layer components {

  .heading {
    @apply text-gray-800 font-semibold;
  }

  .container-custom {
    @apply px-6 py-12 max-w-5xl mt-8 mx-auto lg:px-8 lg:mt-10;
  }

  .anchor-hover {
    @apply border-b border-dotted border-gray-300 hover:border-solid hover:border-gray-800;
  }

}
