@import "tailwindcss";
html,body{
  overflow-x:hidden ;
}
body {
  font-family: 'Inter', sans-serif;
}
.font-display{
    font-family: 'Poppins', sans-serif;
  }
.text-primary{
    color: #3137f2;
}
.bg-primary{
  background-color:#3137f2;
}
h1,h2,h3{
  @apply  text-gray-800 font-semibold ; 
}
.container{
  @apply px-6 py-12 max-w-5xl mt-8 mx-auto lg:px-8 lg:mt-10;
}

.gradient-hover-outer{
  @apply p-[1px] bg-slate-200 group hover:bg-linear-to-br  hover:from-red-200 hover:via-purple-200 hover:to-yellow-200;
}
.gradient-hover-inner{
  @apply  bg-slate-50  group-hover:bg-linear-to-br group-hover:from-red-50 group-hover:via-purple-50 group-hover:to-yellow-50 
}
.anchor-hover{
  @apply border-b border-dotted border-gray-300 hover:border-solid hover:border-gray-800;
}
